@import "tailwindcss";

@theme {
	--text-h1: clamp(2.1rem, 5vw, 3.4rem);
	--text-subtitle: clamp(1rem, 2.2vw, 1.2rem);
	--text-h2: clamp(0.85rem, 3vw, 1.15rem);
	--text-h3: clamp(1rem, 2.1vw, 1.15rem);
	--text-p: clamp(0.85rem, 1.8vw, 1.05rem);

	--color-accent-300: light-dark(#0ea5e9, #7dd3fc);
	--color-accent-400: light-dark(#2563eb, #38bdf8);
	--color-accent-500: light-dark(#1e3a8a, #0ea5e9);

	--bg-base: light-dark(#66b2ff, #000000);
	--bg-contrast: light-dark(rgba(15, 23, 42, 0.12), transparent);
	--bg-tooltip: light-dark(rgb(243, 243, 243), rgb(12, 12, 12));

	--text: light-dark(#0f172a, #ebebeb);
	--text-muted: light-dark(#1e293b, #9ca3af);
	--text-action-color: light-dark(var(--color-accent-500), var(--color-accent-400));

	--color-surface: light-dark(rgba(243, 243, 243, 0.6), rgba(12, 12, 12, 0.6));
	--color-border: light-dark(rgba(15, 23, 42, 0.25), rgba(255, 255, 255, 0.12));
	--color-border-hover: light-dark(rgba(15, 23, 42, 0.55), rgba(255, 255, 255, 0.16));

	--color-link: light-dark(var(--color-accent-500), var(--color-accent-400));
	--color-link-hover: light-dark(var(--color-accent-400), var(--color-accent-300));
}

@layer base {
	html {
		@apply m-0 font-sans;
	}
	p {
		@apply text-p;
	}
	h1 {
		@apply text-h1 leading-tight font-semibold;
	}
	h2 {
		@apply text-h2;
	}
	h3 {
		@apply text-h3;
	}
}

@layer components {
	.card {
		@apply border-border bg-surface hover:border-border-hover border p-[clamp(0.75rem,1.5dvh,1rem)] transition-colors duration-150 ease-linear;
	}

	.toggle-option {
		@apply relative inline-flex cursor-pointer items-center justify-center rounded-md p-1.5 text-(--text-muted) peer-focus-visible:outline-2 peer-focus-visible:outline-offset-2 peer-focus-visible:outline-(--text) hover:text-(--text);
	}

	.tooltip {
		@apply border-border pointer-events-none absolute top-full right-0 z-10 mt-2 min-w-max rounded-sm border bg-(--bg-tooltip) px-2 py-1 text-left text-xs text-(--text) opacity-0 shadow-sm transition-opacity duration-150 select-none group-hover:opacity-100;
	}
}

/* My hacky way to make a purely CSS based theme toggle */
:root:not([theme]):has(#theme-system:checked),
:root[theme="system"] {
	color-scheme: light dark;
}

:root:not([theme]):has(#theme-light:checked),
:root[theme="light"] {
	color-scheme: light;
}

:root:not([theme]):has(#theme-dark:checked),
:root[theme="dark"] {
	color-scheme: dark;
}

/* GLOBAL THEME VISIBILITY CLASS */
.show-on-light,
.show-on-dark {
	display: none;
}

/* Show class on forced light */
:root:not([theme]):has(#theme-light:checked) .show-on-light,
:root[theme="light"] .show-on-light {
	display: block;
}

/* Show class on system preference light */
@media (prefers-color-scheme: light) {
	:root:not([theme]):has(#theme-system:checked) .show-on-light,
	:root[theme="system"] .show-on-light {
		display: block;
	}
}

/* Show class on forced dark */
:root:not([theme]):has(#theme-dark:checked) .show-on-dark,
:root[theme="dark"] .show-on-dark {
	display: block;
}

/* Show class on system preference dark */
@media (prefers-color-scheme: dark) {
	:root:not([theme]):has(#theme-system:checked) .show-on-dark,
	:root[theme="system"] .show-on-dark {
		display: block;
	}
}

/* All of this is just to show what's currently selected */

/* Attribute-based (normal operation) */
:root[theme="system"] label[for="theme-system"],
:root[theme="light"] label[for="theme-light"],
:root[theme="dark"] label[for="theme-dark"],
:root[bg="animated"] label[for="bg-animated"],
:root[bg="static"] label[for="bg-static"],

/* Checked-state fallback (no-JS) */
:root:not([theme]) span:has(input[name="theme"]:checked) > label,
:root:not([bg]) span:has(input[name="background"]:checked) > label {
	@apply bg-(--bg-contrast) text-(--text);
}
