@import "tailwindcss";

/* TODO: remove all vanilla css */

@theme {
	--text-h1: clamp(2.1rem, 5vw, 3.4rem);
	--text-subtitle: clamp(1rem, 2.2vw, 1.2rem);
	--text-h2: clamp(0.85rem, 3vw, 1.15rem);
	--text-h3: clamp(1rem, 2.1vw, 1.15rem);
	--text-p: clamp(0.85rem, 1.8vw, 1.05rem);
}

:root {
	color-scheme: light dark;
	@apply m-0 font-sans;

	--color-accent-300: light-dark(#0ea5e9, #7dd3fc);
	--color-accent-400: light-dark(#2563eb, #38bdf8);
	--color-accent-500: light-dark(#1e3a8a, #0ea5e9);

	--bg-base-light: #66b2ff;
	--bg-base-dark: #000000;
	--bg-base: light-dark(var(--bg-base-light), var(--bg-base-dark));

	--text: light-dark(#0f172a, #ebebeb);
	--text-muted: light-dark(#1e293b, #9ca3af);
	--text-action-color: light-dark(var(--color-accent-500), var(--color-accent-400));

	--color-surface: light-dark(rgba(243, 243, 243, 0.6), rgba(12, 12, 12, 0.6));
	--color-border: light-dark(rgba(15, 23, 42, 0.25), rgba(255, 255, 255, 0.12));
	--color-border-hover: light-dark(rgba(15, 23, 42, 0.55), rgba(255, 255, 255, 0.16));

	--color-link: light-dark(var(--color-accent-500), var(--color-accent-400));
	--color-link-hover: light-dark(var(--color-accent-400), var(--color-accent-300));
}

:root:not([theme]):has(#theme-system:checked),
:root[theme="system"] {
	color-scheme: light dark;
}

:root:not([theme]):has(#theme-light:checked),
:root[theme="light"] {
	color-scheme: light;
}

:root:not([theme]):has(#theme-dark:checked),
:root[theme="dark"] {
	color-scheme: dark;
}

/* Global theme visibility class */
.show-on-light,
.show-on-dark {
	display: none;
}

/* Show class on forced light */
:root:not([theme]):has(#theme-light:checked) .show-on-light,
:root[theme="light"] .show-on-light {
	display: block;
}

/* Show class on system preference light */
@media (prefers-color-scheme: light) {
	:root:not([theme]):has(#theme-system:checked) .show-on-light,
	:root[theme="system"] .show-on-light {
		display: block;
	}
}

/* Show class on forced dark */
:root:not([theme]):has(#theme-dark:checked) .show-on-dark,
:root[theme="dark"] .show-on-dark {
	display: block;
}

/* Show class on system preference dark */
@media (prefers-color-scheme: dark) {
	:root:not([theme]):has(#theme-system:checked) .show-on-dark,
	:root[theme="system"] .show-on-dark {
		display: block;
	}
}

h1 {
	@apply leading-tight font-semibold;
	font-size: var(--text-h1);
}

h2 {
	font-size: var(--text-h2);
}

p {
	font-size: var(--text-p);
}
